@font-face {
    font-family: 'Heebo-lite';
    src: url(/font/Heebo-Light.woff2);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Heebo-bold';
    src: url(/font/Heebo-Bold.woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Yantramanav' ;
    src: url(/font/Yantramanav-Bold.woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

a{
    color:var(--color-light)
}
a:hover{
    color:var(--color-light-grey)
}
a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}
.button{
    display: inline-flex;
    align-items: center;
    height: 38px;
    padding-inline: 26px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-family: Heebo-bold;
    background-color: var(--color-light);
    border-radius: var(--border-radius);
    border:none;
    white-space: nowrap;
}
:root{
    --color-dark:#000000;
    --color-dark-alternative:#131619;
    --color-light:#FFFFFF;
    --color-dark-grey:#404040;
    --color-light-grey:#C4C4C4;

    --border-radius:30px;
    --border:1px solid var(--color-light);
    
    --input-height:54px;
    
    --container-width:1300px;
    --container-padding-x:15px;
    --transition-duration:0.2s;
}
body{
    overflow: hidden;
    font-family: Heebo-bold;
}
.header{
    display: flex;
    height: 90px;
    max-width: 1920px; /*  Используем max-width вместо width */
    margin: 0 auto;
    background-color: #131619;
    align-items: center;
}
.header-logo{
    flex:1 1;
}
.header-logo img{
    height: 25px;
    width: 135px;
    padding-left: 22px;
}
.header-menu{
    flex: 1 1;
    font-size: 18px;
    line-height: 18;
    letter-spacing: 1.2px;
}
.header-menu-list {
    display: flex;
    gap: 50px; 
    justify-content: center;
}

.header-actions{
    flex:1 1;
}
.header-actions>div{
    display: flex;
    justify-content: end;
    gap: 30px;
}
.header-actions>div:last-child{
    padding-right: 40px;
    
}
.header-burger-button{
    border-radius: 50%;
    border-color: #FFFFFF;
    background-color: transparent;
    color:white;
}